<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">       
        <ion-button color="dark" (click)="closeModal()">
            <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
    </ion-buttons>
  <ion-title>Contact info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <ion-card>
       <ion-card-subtitle>Thanks for using cat world <ion-icon name="heart" color="#330033"></ion-icon></ion-card-subtitle>

        <ion-item>
            <ion-icon name="mail-open" slot="start" color="primary"></ion-icon>
            <ion-label><a href="mailto:saraalsharqawy123@gmail.com" > saraalsharqawy123@gmail.com </a> </ion-label>
        </ion-item>
 
        
          <ion-item href="#">
              <ion-icon name="logo-linkedin" slot="start" color="primary"></ion-icon>
              <ion-label><a href="https://www.linkedin.com/in/sara-alsharqawy-6718a8112"> Sara Alsharqawy </a> </ion-label>
          </ion-item>
        <ion-card-content>
        Vectors and logo used in app is 
          <a href="http://www.freepik.com">designed by Freepik</a>
        </ion-card-content>

        
    </ion-card>
    

</ion-content>
