ion-card-content{
    text-align:center;
}

a {
    text-decoration: none;
}

 ion-content{
        --background: gainsboro;
    }

    ion-card{
        text-align:center;
        
        --background:white;
    }

    ion-card-subtitle{
            padding: 8% 0;
        color:#330033;
    }

   