<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button color="light" (click)="closeModal(null)">
              <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
      </ion-buttons>
    <ion-title>Change password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <form [formGroup]="form" (submit)="EditInfo(form.value)">  
        <ion-item>           
        <ion-label> Old password </ion-label>           
        <ion-input type="password" formControlName="oldpass"  [required]="true" #oldval></ion-input>   
         </ion-item>
  
         <ion-item>           
          <ion-label> New password </ion-label>           
          <ion-input type="password" formControlName="newpass"  [required]="true"></ion-input>   
           </ion-item>
          
          
        <ion-button type="submit"  [disabled]="!form.valid" color="dark" expand="block" > Change </ion-button>
   
    </form>
  
   
  </ion-card>
</ion-content>
