ion-item{
    font-size: small;
}

ion-content{
    --ion-background-color: gainsboro;
  }
  
  ion-card{
    --ion-background-color: white;
     
  }

  ion-toolbar{
    --background:#330033;
    color:white;
}
 

  ion-title{
      text-align: center;
      
  }