


ion-chip{
    background-color: white;
    border: gray solid 0.5px;
}



ion-item-divider{
    background-color: lightgrey;
    color:purple;
    margin-top:5%;
    margin-bottom: 2%;
}

.btn{
    --background:#330033;
}

ion-segment-button{
    --color-checked:dimgrey;
}





