
ion-label{
    font-weight: bold;
    }
    
    ion-input{
        color:rgb(65, 61, 61);
    }
    
    .radio{
        color:rgb(65, 61, 61);
            font-weight: normal;
    }


    ion-content{
        --background:radial-gradient(white,rgb(228, 214, 236));
    }
    
    ion-toolbar{
        --background:#330033;
        color:white;
    }
    
    
    