ion-content{
    --background:radial-gradient(white,rgb(228, 214, 236));
}

ion-toolbar{
    --background:#330033;
    color:white;
}

#code{
    --padding-end:0;
}


span{
    color: darkred;
    font-size: small;
}